:root{
    --primaryColor: #f1f1f1;
    --black: #222;
    --black2: #555;
    --black3: #252525;
    --black4: #000;
    --black5: #212529;
    --orange: #eb0028;
    --white: #fff;
    --grey: #959595;
    --grey2: #666;
    --grey3:#ccc;
    --secondaryColor: #2b1f4d;
    --yellow: #ffcc00;
    --green: #59b210; 
    --blue: #07948d;
    --btn: 	#ADD8E6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, input{
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Archivo', sans-serif;
    color: var(--black);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

h3,h4{
    font-weight: 500;
    
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #12ccc3);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {     
    background: linear-gradient(transparent, #eb0028);
}

/* Loader */
#pre-loader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 999999;
    background-color: var(--white);
    transition: all 300ms ease-in-out;
  }
  
  .loader {
    height: 100vh;
    width: 100vw;
    background: url("/assets/images/loader.svg") center/30rem no-repeat fixed;
  }
  
  #pre-loader.hide {
    opacity: 0;
    pointer-events: none;
  }
  
  @media only screen and (max-width: 567px) {
    .loader {
      background-size: 20rem;
    }
  }
